*{
  margin: 0 auto;
  box-sizing: content-box;
}
.menu > ul > li a {
  text-decoration: none;
  color: #f2f2f2;
}
.menu {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: #333; 
}
.menu li{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu li:hover{
  background-color: #ddd;
}

.menu a:hover{
  color: black;
}
ul{
  list-style-type: none;
}
